body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  
  .visualization {
    flex: 1;
  }
  
 
.main{
    display: flex;
}

.visualization{
    display: flex;
    justify-content: center;
}

.product-visualization p{
    position: absolute;
    top: 10%;
}

.product{
    margin-left: 50px;
}

.cart-product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .remove-button {
    margin-top: 5px;
  }

  
  #cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
  }
  
  #cart-overlay.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
  }
  
  .cart-content {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
  }
  
  #cart-close-btn {
    margin-top: 10px;
  }
  